[2014-04-16 09:21] soyuka opened #13 "Missing utf-8 support"
It may be related to the strong-oracle module as there seems to be no charset option.

[2014-04-28 14:59] piscisaureus opened #14 "Windows: repeated install screws up PATH"
Installing the connector prepends an entry to my PATH every time.
At some point the path becomes too long and old entries start dropping off.
I think it's not needed to modify the path at all - but at least don't add the same location many times?

To show off some of my histrionic personality disorder, I've pasted below an excerpt of - what I just discovered to be - my user %PATH%:

D:\node_module

[2014-07-10 09:35] vbourgeois opened #19 "Windows system variables"
Hello,

When I installed the project, "instantclient\vc11" and "instantclient" directories were automatically added to the User variable PATH. When I tried to execute "example/app.js", I had the following error:

$ node example/app.js

D:\userfiles\vincent.bourgeois\Documents\loopback-connector-oracle\lib\oracle.js:11
    throw err;
          ^
Error: The specified procedure could not be found.
D:

[2014-07-15 12:36] vbourgeois opened #20 "Create on a model without id"
Hello,

I created the model of a table that doesn't have primary key with the "discoverAndBuildModels" method of loopback-datasource-juggler.

When I tried to do a create with the generated model, I get the following error:
TypeError: Cannot read property 'type' of undefined

At this line in oracle.js:
330     var type = this._models[model].properties[this.idName(model)].type;
Because "this.idName

[2014-07-18 07:03] #20 closed, assigned to nobody

[2014-08-14 07:11] hkoops opened #21 "Error: The specified procedure could not be found"
Getting Error: The specified procedure could not be found by oracle_bindings.node.

Platform Windows Server 2003 R2
Installed node 32 bits node-v0.10.30-x86.msi
Installed Microsoft C++ 2012 Redistributable (x86) - 11.0.61030
Setting environmentvariables InstantClient correct (first vc11)
- Dependency walker gives no error on oracle_bindings.node
  Only msjava.dll. I also tried with an without the

[2014-08-14 18:56] #21 closed, assigned to nobody

[2014-09-02 18:27] superkhau opened #22 "Change "... your PATH has been modified..." message to "Please modify your PATH to include...""
After running `npm install loopback-connector-oracle`, you get a message saying `...your path has been modified...`, which is a deprecated feature from LoopBack 1.x

We should change this to read `...Please modify your path to include oracle.rc, ie) export PATH="oracle.rc:$PATH"...` or something along those lines.

Adding to the path automatically raised concerns about being too invasive and so th

[2014-09-03 06:26] #22 closed, assigned to nobody

[2014-09-04 12:56] #13 closed, assigned to nobody

[2014-10-16 19:47] tonysoft opened #24 "Can't enter valid Date/Time values into Models with Date or Timestamp Properties from with Explorer."

[2014-10-16 20:01] tonysoft opened #25 "When we Discover Columns of type "TIMESTAMP(6)" the Model Property type should be "Date" rather than "String"."
Otherwise, you can get Validation Errors of various types on the Oracle side depending on how you format the Date Strings in your POST Body JSON.

[2014-12-12 02:30] codemonkeyneo opened #27 "Windows Issues Oracle Connector not available"
Having Issues when working with Windows 7.

I keep trying to setup a basic project but cant get the oracle side to work. I have tried using oracle installer, but nothing seems to work on windows ( linux machine I had no problems :) ).

On windows I constantly keep getting that the ' LoopBack connector "oracle" is not installed as any of the following modules:'

------------------------------------

[2015-01-08 22:38] bulldog65 commented on #27
codemonkeyneo........I'm having the same issue.  Have you found a solution yet?

[2015-01-15 06:14] codemonkeyneo commented on #27
sorry bulldog65 no solution yet, thank god I had a Christmas break but now I will be looking back into this ...

[2015-01-15 07:17] codemonkeyneo commented on #27
I've tried updating to the latest version of everything and still have issues.

creating initial project is fine , good old yeoman is there guiding me.... I then try to get the loopback-connector-oracle and end up with a sad face... output as follows.

[code]

[2015-01-22 00:55] codemonkeyneo commented on #27
I have now managed to get this working.

The original oracle error was firstly solved by making sure I was running the 64 bit version of Node.

I then had to update the path variables so it pointed to the instant client vc11 version.

I was then after this getting lots of TNS errors.

The folder that the TNS_ADMIN was pointing at contained another couple of ORA files.

sqlnet.ora and lda.ora. If I

[2015-01-28 10:38] mik01aj opened #29 "Installation process: putting strong-oracle.rc in $HOME is a bad idea"
Hi, I just installed loopback-connector-oracle and saw the following message:

[code]

Shame on you! This is a bad, bad, bad idea. You're cluttering the home folder for all the developers, plus you suggest to add a project-specific location to a global config, which will beak other projects when I remove this one and will make me angry when I want different projects use different versions of this

[2015-02-18 18:05] FatPanther commented on #27
This same error was driving me nuts (Windows 7) - solved it by making sure the PATH entries that are created during the loopback connector install come before any other oracle-related entries - you may need to adjust not only the user PATH but system PATH as well.

[2015-02-24 16:55] #27 closed

[2015-02-24 16:59] raymondfeng commented on #29
The environment var is required to activate Oracle Instant Client as the runtime dependency.

Can you propose a better way?

Here is one way I have in mind:
1. Check the existence of Oracle instant client. If not present, install a copy to $HOME/oracle-instant-client (to be shared)
2. Set up the $HOME/.strong-oracle.rc to contain the DYLD_LIBRARY_PATH

[2015-02-24 17:00] raymondfeng opened #30 "Troubleshoot/fix build failure for oracle connector"

[2015-02-24 21:47] mik01aj commented on #29
I suppose you only need this environment variable for some subprocess, so maybe you could set it just for the subprocess only?

And, if it's not relevant, I think it'll be just enough to state that this library requires this environment variable to be set. You could even check it in the module and display an error message if it's not set. Just leave it to the user to set it.

Another idea would be

[2015-03-23 20:00] chandadharap opened #33 "Make Oracle connnector compatible with Node v0.12"

[2015-03-23 20:01] chandadharap opened #34 "Make Oracle connector compatible with io.js"

[2015-03-23 20:09] chandadharap commented on #30
Build failing on all platforms

[2015-03-26 17:36] #30 closed

[2015-03-26 17:36] #34 closed

[2015-03-26 17:36] #33 closed

[2015-03-31 13:11] sgarggit commented on #27
Hi,
I am also facing the same issue with loopback-connector-oracle, when I cam across this thread on the same error. Can you please elaborate on how did you resolve this problem. My env. is 64 bit and I am using the node.js version 0.10.35. I have also tried setting the PATH env. variable to point to ..../instantclient/vc11, still getting the same error

WARNING: LoopBack connector "oracle" is not

[2015-03-31 13:16] codemonkeyneo commented on #27
sgarggit are you using the 64-bit version of Node ?

[2015-03-31 13:24] sgarggit commented on #27
yes neo, I am using the 64 bit version of node. node version is v0.10.35

Thanks

[2015-03-31 13:35] codemonkeyneo commented on #27
mmmmmm Its been a while, ended up using a different framework in the end but it was nice to get this working :).

I noticed I tried the SLC ARC steps a few post up .... then I called

npm install loopback-connector-oracle --save

What happens if you run through installing ARC and then running above npm install.... output your results step by step and Ill see if I can help or anything comes back to

[2015-03-31 14:22] sgarggit commented on #27
sure , I will try with slc arc.

[2015-04-13 12:32] Tomkinen commented on #27
I have exactly the same issue here with Windows Server 2012.
Node version:
10.38 (64 bit)

In path i have the "\node_modules\instantclient\vc11" -folder and by looking at the content of the folders created i can see that the files are there. Still the end result when trying to "slc run" with having "oracle" as datasource i end up in same situation as was presented in the first message of this issu

[2015-04-14 05:49] Tomkinen opened #37 "Oracle connector not found even though it is installed - windows server"
I have exactly the same issue here as issue #27  with Windows Server 2012.
Node version:
10.38 (64 bit)

In path i have the "\node_modules\instantclient\vc11" -folder and by looking at the content of the folders created i can see that the files are there. Still the end result when trying to "slc run" with having "oracle" as datasource i end up in same situation as was presented in the first messag

[2015-04-16 11:48] Tomkinen commented on #37
I also installed node and loopback according to instructions to linux. Same error appears also in my linux server.

WARNING: LoopBack connector "oracle" is not installed as any of the following modules:

 ./connectors/oracle
loopback-connector-oracle

To fix, run:

    npm install loopback-connector-oracle

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error:
WARNING: L

[2015-04-16 20:22] superkhau commented on #37
Did you add `strong-oracle.rc` to your PATH?

[2015-04-17 05:57] Tomkinen commented on #37
Thanks for the reply!

Can you be more precise? Do i need to do this in both windows and linux? Both installations are currently sharing the same error message of "loopback connector oracle is not installed". Adding strong-oracle.rc to path is not required thing to do in instructions (http://docs.strongloop.com/display/public/LB/Installing+the+Oracle+connector)? What exactly needs to be added to t

[2015-04-17 10:29] Tomkinen commented on #37
Now i found strong-oracle.rc from a different folder in linux. I then copied strong-oracle.rc to $HOME. Retried installing the connector and then i run "slc run". Same error appears.

[2015-04-17 22:00] superkhau commented on #37
When you install the Oracle connector, `strong-oracle.rc` is generated in your home dir. You then need to source the file (ie. add `source ~/strong-oracle.rc` to your `bashrc`). These are instructions for Linux of course.

[2015-04-17 22:03] superkhau commented on #37
@raymondfeng Is there Windows equivalent for sourcing `strong-oracle.rc`?

[2015-04-17 22:13] raymondfeng commented on #37
On Windows, it will set up the PATH env var. See http://docs.strongloop.com/display/LB/Installing+the+Oracle+connector#InstallingtheOracleconnector-Windows

[2015-04-17 22:18] superkhau commented on #37
I see, TY @Tomkinen ^

[2015-04-20 05:26] Tomkinen commented on #37
Hi,

Appreciate that you quickly replied. Here are my replies for both linux and windows installations:

Linux:
1. Navigated to home: cd $HOME
2. Used vi .bash_profile and vi .bashrc to modify the files. Added strong-oracle.rc as a source.
3. Made sure that strong-oracle.rc exists in $HOME -folder.
4. Changed folder to project folder and run: slc run. Same error appears. "Loopback connector "oracl

[2015-04-20 10:38] Tomkinen commented on #37
Some additional information still.

Today we tried exactly the same steps i did in our windows server with colleagues own windows machine. He was able to install node, strongloop/loopback and oracle connector successfully.

I tried today to re-install node, strongloop and then created new loopback test instance. I was able to run it in localhost. Then i added oracle connector with 0 errors. Added

[2015-04-22 06:02] Tomkinen commented on #37
Still one more thing. Yesterday just tried to rename C:\ORACLEtest001\node_modules\loopback-connector-oracle\ -folder to C:\ORACLEtest001\node_modules\oracle.

End result was that error message changed to be from this:
---------
WARNING: LoopBack connector "oracle" is not installed as any of the following modules:

 ./connectors/oracle
loopback-connector-oracle

To fix, run:

    npm install loopb

[2015-04-22 06:06] raymondfeng commented on #37
When you rename the folder, you need to update the PATH env var so that Oracle instant client DLLs are available on the PATH. Can you dump out its value using `echo %PATH%` to make sure?

[2015-04-22 07:17] Tomkinen commented on #37
To correct my earlier post, i did COPY the "loopback-connector-oracle" -folder and renamed the copied folder to be just "oracle". So end result was that i had both "loopback-connector-oracle"-folder AND "oracle"-folder under "node_modules". Then error message changed as stated in my earlier post. If i remove "oracle" -folder then the error message returns to be the original error message.

path=
C

[2015-05-11 13:18] providabhi opened #39 "install issue"
Hi,

While trying to install the connector with Node (v0.12.0) and npm (v2.9.1), i am getting the following error

C:\TD\USTS\NodeWorkspaces\DBConnect>npm install loopback-connector-oracle --save

\

de_modules\loopback-connector-oracle\node_modules\loopback-oracle-installer

Downloading/Extracting http://7e9918db41dd01dbf98e-ec15952f71452bc0809d79c86f575
1b6.r22.cf1.rackcdn.com/loopback-oracle-Wi

[2015-05-11 15:29] raymondfeng commented on #39
Are you on a 32 bit Windows? If so, we haven’t published a prebuilt image for the driver.

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/> like monitorin

[2015-05-11 16:13] providabhi commented on #39
I have 64 bit WIndows 7 Enterprise Edition. However the Node JS i have is 32 bit.

The loopback-connector-oracle is only for 64-bit versions?

[2015-05-11 16:20] raymondfeng commented on #39
You should install the 64 bit Node. We start to deprecate the 32 bit support as iojs doesn't ship 32 bit version for Windows.

[2015-05-12 20:20] providabhi commented on #39
Thanks! I was able to do a install with 64 bit version of Node.

However now when I do a simple project using strongloop, it looks like it ws not properly installed, even though it said it did.
--> slc loopback
--> Create the data source on "slc arc" and do "Test Connection", i get the following error
--> package.json has
  "dependencies": {
    "compression": "^1.0.3",
    "cors": "^2.5.2",
    "

[2015-05-12 21:11] providabhi commented on #39
so if I do "slc run", i get the error. I have tried installing the loopback-connector-oracle quite a few times. taken the steps for Windows at following link:
http://docs.strongloop.com/display/public/LB/Installing+the+Oracle+connector

WARNING: LoopBack connector "oracle" is not installed as any of the following modules:

 ./connectors/oracle
loopback-connector-oracle

To fix, run:

    npm insta

[2015-05-12 22:58] raymondfeng commented on #39
Can you dump out the env vars for PATH to check if the Oracle instant client DLLs are on the path?

[2015-05-13 00:00] providabhi commented on #39
yes i can see the instant client on my PATH installed by loopback-connector-oracle
C:\Users\Redirection\<user>\AppData\npm\node_modules\loopback-connector-oracle\node_modules\instantclient\vc11;
C:\Users\Redirection\<user>\AppData\npm\node_modules\loopback-connector-oracle\node_modules\instantclient;

The following the the path (echo %PATH%) on my windows (x64) machine

C:\Users\Redirection\<user>

[2015-05-13 13:01] providabhi commented on #39
just trying to make sure around the versions i have installed

Node (v0.10.38)
NPM (v1.4.28)
loopback-connector-oracle(v1.7.2)
strongloop v4.0.2 (node v0.10.38)
├── strong-arc@1.2.1 (a6c841f)
├── strong-build@2.0.0 (0cb88da)
├── strong-deploy@2.2.0 (ada97d4)
├── strong-pm@4.1.0 (4629260)
├── strong-registry@1.1.4 (aab3dbb)
├── strong-start@1.1.0 (04195e6)
├─┬ strong-supervisor@1.6.0 (baa3fcd)
│ └─

[2015-05-15 13:20] providabhi commented on #39
Anyone has inputs to have this connector working...

[2015-05-15 15:22] raymondfeng commented on #39
What VisualStudio version do you have?

[2015-05-15 16:10] providabhi commented on #39
I have Visual Studio 2013

[2015-05-15 16:56] providabhi commented on #39
Express 2013 for Windows Desktop

https://www.visualstudio.com/en-us/products/visual-studio-express-vs.aspx

[2015-05-15 17:40] raymondfeng commented on #39
I have VS 2012. It might be the case that VS 2013 is not compatible with Oracle Instant Client.

[2015-05-18 13:36] providabhi commented on #39
Ok.. Thanks!

Would this connector be supported with latest Node JS(v0.12.x)?

[2015-05-18 13:45] providabhi commented on #39
Thanks! Works good now with VS 2012.

[2015-05-20 14:39] #39 closed

[2015-06-01 18:00] ryedin opened #41 "LoopBack connector "oracle" is not installed (but it is) - UBUNTU"
Something is very wrong with the install procedure. I cannot seem to get it to work.

Firstly, no strong-oracle.rc file is generated (even though the install script says it is)...

Notice the first few lines in the output below (the install.sh script is erroring with `bad substitution`, yet the script happily announces the file was generated...)

[code]

So, then I figured I could manually export

[2015-06-01 18:18] raymondfeng commented on #41
The bottom line is that `LD_LIBRARY_PATH` should be pointing to `/vagrant/node_modules/loopback-connector-oracle/node_modules/instantclient`. Can you run the following commands to make sure?

1. ls -l /vagrant/node_modules/loopback-connector-oracle/node_modules/instantclient
2. echo $LD_LIBRARY_PATH

[2015-06-01 18:37] ryedin commented on #41
Yes, that value was fine.

We just figured out the (main) issue. To get more information about what was going wrong, we first ran `cd node_modules/loopback-connector-oracle/node_modules/strong-oracle/` and then tried `node example/app.js` to see if we could get more helpful messaging as to the issue.

That gave us:

[code]

Which helped us find other people having issues (with other libs) related

[2015-06-01 18:40] raymondfeng commented on #41
Please note that the libaio requirement is mentioned in the README:
[code]

[2015-06-01 19:17] ryedin commented on #41
Ah OK... sorry then.

Didn't dig into the repo's README. We came in via the main docs: (http://docs.strongloop.com/display/public/LB/Installing+the+Oracle+connector)

[2015-06-01 21:01] raymondfeng commented on #41
I just updated the docs.

[2015-06-01 21:01] #41 closed

[2015-07-10 12:42] OscarValdez opened #42 "Is this software opensource ?"

[2015-07-10 12:44] #42 closed

[2015-07-10 17:30] OscarValdez opened #43 "StrongLoop Enterprise Connector"
As everybody knows Strongloop uses this open source connector as bridge to oracle data, but i got a question. In the page of pricing of strongloop it says that the Open Source Drivers are free, but they have a Enterprise Connectors section in that section they manage Oracle.

Does the Loopback oracle connector is the same as the enterprise connector from LoopBack?

Can anyone has a project with St

[2015-07-10 17:38] raymondfeng commented on #43
1. The driver is dual-licensed - https://github.com/strongloop/strong-oracle
2. The connector is StrongLoop licensed - https://github.com/strongloop/loopback-connector-oracle

[2015-07-10 17:46] #43 closed

[2015-07-10 18:24] RogelioGaytan commented on #43
I also have a similiar doubt.

For doing conection and modeling for oracle databases using stroongloop arc, do you need the enterprise connector mandatory?

Or What are the open source connectors?

Do you know @raymondfeng?

[2015-08-05 18:19] jgauna opened #46 "How to create an out parameter"
I've the doc but coulnd't find out to execute store procedures. Then I find out doing:

[code]

But here's where I need two out parameters. Is there any way to achive this?

Thanks!

[2015-08-05 18:23] raymondfeng commented on #46
See https://github.com/strongloop/strong-oracle/blob/master/test/outparams.js

[2015-08-05 18:23] #46 closed

[2015-08-05 22:12] jgauna commented on #46
This is not working. I have this:

[code]

And in ```dbConfig.js```:

[code]

I get:

```TypeError: object is not a function```

And the connection is working because I got data if I do any kind of plain select.

Thanks for the help

[2015-08-05 22:35] jgauna commented on #46
How do I implement this in oracle connector? Could you give me a full example? Not working that example (it's strong-oracle)

[2015-08-05 22:39] raymondfeng commented on #46
[code]

[2015-08-15 14:05] OscarValdez opened #47 "Asking for license"
Can i use this connector to produce a comercial product for free?

A) With te use of strongloop
B) only With loopback

Thank you in advance

[2015-08-18 00:14] superkhau commented on #47
@dashby3000

/cc @raymondfeng ^

[2015-08-18 07:11] altsang commented on #47
@OscarValdez - the Oracle connector for LoopBack requires a commercial subscription.  If you're interested feel free to drop us a line at sales @ strongloop.com.  We have subscriptions plans for developers and companies of all sizes.

[2015-09-16 08:15] swizardlv opened #48 "connector install failed on MAC OSX"
Dear, I have downloaded and configured the strong-oracle following the guide.
then run `npm install loopback-connector-oracle --save` and got following error.
![image](https://cloud.githubusercontent.com/assets/10117682/9899361/dbabeb9a-5c8b-11e5-9535-c49f7c111cc4.png)
seems build error. Please help . Thanks.
the following is the debug log: the log is too long, i only pasted the error part.

 6676

[2015-09-16 15:45] raymondfeng commented on #48
We don't have pre-built binary dependencies for iojs-2.5.0. Can you use iojs-3.0.0? We're working on the support for node 4.0.0.

[2015-09-16 15:45] #48 closed

[2015-09-17 00:48] swizardlv commented on #48
thanks for reply.

I tried iojs-3.0.0 and iojs-3.3.0 , had the same error.

[2015-09-29 12:06] girishla commented on #37
I have the same issue - did you end up fixing this @Tomkinen ?

[2015-09-29 12:14] Tomkinen commented on #37
Hi @girishla !

I ended up choosing other solution than loopback/strongloop to create the backend API. So unfortunately i do not have a solution for this particular issue.

[2015-09-29 12:28] girishla commented on #37
@Tomkinen just realized I had multiple versions of Node installed on my machine...one of which was 4.x
I uninstalled 4.x and voila...it worked! no error.

[2015-10-09 00:59] chenulu commented on #37
I am getting the following errors on Mac OS 10.10.5, node v0.12.4

ERR WARNING: LoopBack connector "oracle" is not installed as any of the following modules:
 ERR  ./connectors/oracle
ERR loopback-connector-oracle
ERR To fix, run:
ERR     npm install loopback-connector-oracle
ERR events.js:85
ERR       throw er; // Unhandled 'error' event
ERR             ^
ERR Error:
ERR WARNING: LoopBack connecto

[2015-10-13 14:01] bchr02 opened #49 "open source this connector"
Just curious what the plan was for switching to using [node-oracledb](https://github.com/oracle/node-oracledb) as the driver and whether there are any plans for open sourcing this connector? Paying a couple hundred dollars monthly just to be able to use this connector seems crazy (at least for a small business) and in my opinion will drive prospective users (such as myself) away from using loopbac

[2015-10-13 23:12] superkhau commented on #49
@ijroth ^

[2015-10-13 23:18] raymondfeng commented on #49
This branch has working code for oracledb - https://github.com/strongloop/loopback-connector-oracle/tree/feature/oracledb

[2015-10-15 15:51] bchr02 commented on #49
thanks @raymondfeng I'll have a look. How about my main concern?

[2015-10-15 17:11] raymondfeng commented on #49
@bchr02 Can you send an email to callback@strongloop.com for the license discussion?

[2015-10-15 17:15] superkhau commented on #49
@bchr02 Closing this issue. As suggested by @raymondfeng, feel free to send an email to callback@strongloop.com for license discussions.

[2015-10-15 17:15] #49 closed

[2015-10-20 14:56] dnirchi commented on #37
When I try testing the connection in Arc on Mac, I get the following error (I've followed the Oracle connector setup instructions for Mac and have spent several hours troubleshooting this):

Oops! Something is wrong
Connector "oracle" is not installed.
Add the connector to your project, configure the environment variables, restart Arc and try again. See docs: Installing the Oracle connector for mo

[2015-10-20 15:19] raymondfeng commented on #37
Please make sure you have the env var `DYLD_LIBRARY_PATH` configured correctly, for example:
[code]
The oracle connector creates `~/strong-oracle.rc` during the installation. You can enable it to your `.bash_profile` as follows:

[code]

[2015-10-20 15:36] dnirchi commented on #37
Thanks for the quick response! By the way, I'm running node v0.12.2 on Mac OS v10.11.

I have DYLD_LIBRARY_PATH set:

$ echo $DYLD_LIBRARY_PATH
:/Users/nirchi/Development/strongloop/oracle-test/node_modules/loopback-connector-oracle/node_modules/instantclient

Inside my .bash_profile, I have:

if [ -f ~/strong-oracle.rc ]; then
  source ~/strong-oracle.rc
fi

I've done a "source" on both my .bash_

[2015-10-21 14:04] dnirchi commented on #37
I believe I know what the issue is as it pertains to running the Oracle connector on a Mac - it doesn't appear to work on El Capitan, but does work on Yosemite. Here are the steps to recreate the problem.

1. On a Mac running OS X Yosemite, install StrongLoop and scaffold a new Loopback application ('slc loopback').
2. Install the loopback-connector-oracle NPM package into said application.
3. Sta

[2015-10-21 18:12] superkhau commented on #37
@cgole Can you help verify the STR by @dnirchi? I am on El Capitan and I'm also running into issues locally ATM. I had it working on Yosemite.

[2015-10-21 20:49] dnirchi commented on #37
@superkhau @raymondfeng @cgole Could this node-oracledb issue be the root cause?

[#231](https://github.com/oracle/node-oracledb/issues/231)

[2015-10-21 22:56] superkhau commented on #37
@dnirchi Nice catch. Guess we'll have to wait to see what the community is doing about it.

[2015-10-22 00:54] raymondfeng commented on #37
Do you use node-oracledb instead of strong-oracle?

Sent from my iPhone 6 Plus

[2015-10-22 13:57] dnirchi commented on #37
@raymondfeng

We've established that the StrongLoop Oracle connector will not work on El Capitan due to [SIP](https://en.wikipedia.org/wiki/System_Integrity_Protection) runtime protections and restrictions. Specifically, DYLD environment variables are now ignored; hence, rendering the Oracle connector inoperable due to the DYLD_LIBRARY_PATH dependency.

See my earlier comment on a temporary workar

[2015-10-27 17:43] crandmck commented on #37
I added the above note to docs: https://docs.strongloop.com/display/LB/Oracle+connector.
If this is fixed, _please_ let me know so I can update docs accordingly.

[2015-10-27 20:58] superkhau commented on #37
@crandmck Your note looks good. We should make note of the workaround by @dnirchi for now. See http://osxdaily.com/2015/10/05/disable-rootless-system-integrity-protection-mac-os-x/

[2015-10-27 21:14] crandmck commented on #37
Added link to workaround.

[2015-11-08 14:18] teropes opened #50 "Issues running in Centos 5"
I'm having issues starting loopback server with loopback-connector-oracle in Centos 5 32-bit environment. During server start I get error message about loopback connector "oracle" not being installed. During npm install there are no error messages. I am sure that I have sourced ~/strong-oracle.rc and LD_LIBRARY_PATH looks correct.

I have done several clean minimal installations of Centos 5 and Ce

[2015-11-09 05:09] superkhau commented on #50
The driver uses the official oracle driver underneath the hood so I don't see why it wouldn't work exactly the same. @raymondfeng Any ideas?

@cgole Do you have Centos 5 and 6 VMs? Can you help reproduce this to confirm the issue?

[2015-11-09 08:06] teropes commented on #50
Here is some extra information if it helps:
I found a workaround so I can at least get it to work now:
1. clone server from git and npm install => installs ok, no npm-debug.log or any errors, still it does not work
2. go manually into servers node_modules/loopback-connector-oracle/node_modules/strong-oracle
3. node-gyp configure
4. node-gyp rebuild

I can now get it to work but I dont understand t

[2015-11-23 21:51] dnirchi opened #52 "Support latest version(s) of Node.js."
When can we expect compatibility with more recent versions of Node.js (ie: 4.2.2 and/or 5.1.0)?

Maintaining a legacy version of Node.js just for the Oracle connector adds complexity to the development process and the provisioning of production systems. It seems reasonable to expect the connector to stay relatively current with the most recent version of Node.js, in the same manner the rest of the

[2015-11-23 21:58] raymondfeng commented on #52
`strong-oracle` already supports node 4.x/5.x. We need to pre-build the binaries and make them available to CDN so that they can be downloaded as part of `npm install`.

[2015-11-23 22:23] dnirchi commented on #52
Thanks, @raymondfeng. I will give that a shot and let you know if I run into any issues.

[2015-12-01 15:34] dnirchi commented on #52
@raymondfeng When can we expect an update to the node-oracle MacOSX/Linux/Windows bundles on the Rackspace CDN?

[2015-12-02 21:26] ikogan opened #53 "Cannot use locally compiled strong-oracle and no package available?"
Since `loopback-connector-oracle` now uses `loopback-oracle-installer` to download and install `strong-oracle`, is there no way to use `strong-oracle` without building it and hosting it in some location for it to download?

`strong-oracle` seems to build and work fine on my El Capitan machine (despite the warning in the docs) yet the URL at which `loopback-oracle-installer` tries to download the p

[2015-12-03 01:22] smartmouse opened #54 "npm install loopback-connector-oracle zlib issue on ubuntu 14.x & RH 7"
/home/nodebot/testpm12
$ cd ..
$ cd testarc12
$ npm install loopback-connector-oracle --save
\

Downloading/Extracting http://7e9918db41dd01dbf98e-ec15952f71452bc0809d79c86f575                           1b6.r22.cf1.rackcdn.com/loopback-oracle-Linux-ppc64-abi14-1.5.0.tar.gz
events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: incorrect header check
    at Zlib._handle.onerro

[2015-12-03 05:47] raymondfeng commented on #53
Which node version do you use?

[2015-12-03 05:48] raymondfeng commented on #53
We need to publish the prebuilt binaries to Rackspace for node 5.x.

[2015-12-03 13:36] ikogan commented on #53
You guessed it, 5.1.0 ;-). In the mean time, is there any way to convince the connector to use the `strong-oracle` I've compiled?

[2015-12-03 15:20] ikogan commented on #53
I made the change above to `loopback-oracle-installer` (and plan on a PR when I can make sure it's working properly). I then ran

[code]

All of these now claim to have installed properly and my `node_modules` looks like this:

[code]

When I try to run my project though, it doesn't seem to see the connector:

[code]

[2015-12-03 16:51] ikogan commented on #53
So it looks like this latest problem is due to OS 10.11 El Capitan's SIP protections. It seems "debugging restructions" prevent `DYLD_LIBRARY_PATH` from propagating from the `slc` launcher or something?

Anyway, `csrutil enable --without debug` seems to solve this problem. I'll submit the PR.

[2015-12-03 17:59] superkhau commented on #53
May be related to https://github.com/strongloop/loopback-connector-oracle/issues/37#issuecomment-150020202

[2015-12-03 19:44] ikogan commented on #37
In the above issue, I did a bit of investigation and `strong-oracle` *does* work with the environment variable set if a script is run directly from node. It *does not* work if started with `slc`, or some other tool that _seems_ to wrap node.

In addition, disabling all of SIP isn't necessary, only debugging restrictions:

[code]

I'm not sure if my configuration is somehow magical and allowing it

[2015-12-03 19:45] ikogan commented on #53
Totally, thanks for the link.

[2016-01-07 22:26] aellison9 opened #55 "Unable to Discover Oracle Models using ARC Composer"
When attempting to discover models using slc arc and the oracle connector, the cursor on the window spins for about 2 minutes and then returns an empty list instead of a populated table list.

The connection within composer tests successfully for both the Oracle datasource and the Postgresql datasource. Discover models works successfully for the Postgresql datasource but not the Oracle datasource.

[2016-01-20 23:50] dnguyenv commented on #48
Any update you this please? I'm getting same error, on Mac

[2016-01-21 03:58] raymondfeng commented on #48
Which os/node version?

[2016-01-21 04:04] dnguyenv commented on #48
Mac 10.10.5
Node v4.2.2

[2016-02-02 20:42] p-somers commented on #37
Anyone have any updates on this? I have SIP protection disabled, got the connector installed, have the node module present (through npm install loopback-connector-oracle) but I still get the "LoopBack connector 'oracle' is not installed" error

[2016-02-27 07:36] teropes opened #58 "Incorrect handling of leap date."
Models in my oracle datasource have date columns and some data rows have date set to 2016-02-29, which is a leap day. For these specific rows loopback built-in REST API endpoints return 2016-03-01 date. Also doing raw sql queries with datasource.connector.query return 2016-03-01 dates for those rows. It seems that leap days are not handled correctly when raw data is transformed into js object?

Do

[2016-03-09 20:46] cristtopher opened #59 "cannot install connector"
`$ npm install loopback-connector-oracle --save`

npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.
npm WARN mongodb-core@1.2.31 requires a peer of kerberos@~0.0 but none was installed.
npm WARN mefapi@1.0.0 No license field.

`$ node .`

WARNING: LoopBack connector "oracle" is not inst

[2016-03-23 23:05] yueyuezhou opened #60 "Fail to loopback-connector-oracle on Windows 10"
C:\Users\yuzhou\Documents\nodejs\test1>npm install --save loopback-connector-ora
cle
npm WARN package.json test1@1.0.0 No README data
npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fai
l on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.

Downloading/Extracting http://7e9918db41dd01dbf98e-ec15952f71452bc0809d79c86f575
1b6.r22.cf1.rackcdn.

[2016-03-23 23:15] raymondfeng commented on #60
We don’t have a prebuilt binary for Node 4.4.0 on Windows 64 bit.

Can you try Node 5.x?

[2016-03-24 00:20] yueyuezhou commented on #60
Node 5.91 solve the issue above.

However, I don't have in instantclient under C:\Users\yuzhou\Documents\nodejs\edge1\node_modules\loopback-connector-oracle\node_modules. And PATH remains the same.

When I tried to start the server, I got the following error message:

C:\Users\yuzhou\Documents\nodejs\edge1>node .

WARNING: LoopBack connector "oracle" is not installed as any of the following mo
dul

[2016-03-24 00:46] yueyuezhou commented on #60
![image](https://cloud.githubusercontent.com/assets/1118021/14005286/74b8dc00-f127-11e5-93c7-d04295cf4a18.png)

[2016-03-24 08:00] yueyuezhou commented on #60
Why does it try to download the file from local?

[2016-03-25 23:49] yueyuezhou commented on #60
switched to a linux box, and was able to install loopback-connector-oracle. but failed to connect a remote database.

Error: ORA-12514: TNS:listener does not currently know of service requested in connect descriptor

I have no Oracle client installed but the instant driver. Is there anyway to test/debug the issue? Thanks

[2016-04-08 20:51] jannyHou commented on #59
@cristtopher which system are you using?
For oracle connector, we need some other config to get it work:
Please check our doc for installation:
https://docs.strongloop.com/display/public/LB/Installing+the+Oracle+connector

BTW, if you are using linux system or mac, please follow the instruction and export LD_LIBRARY_PATH:
`export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/Users/<user>/<myapp>/node_modules

[2016-04-14 16:02] bajtos opened #61 "Switch to the official Oracle driver"
- finish the work

[2016-04-14 16:03] bajtos opened #62 "Improve installation experience"
Find better ways how to configure the path to instant client dynamic library, so that we don't have to mess with ENV variables.

[2016-04-19 16:10] bajtos commented on #62
Once we decide what needs to be done and make the changes, then we should cut a new major release and write a mini-announcement (blog post?)

[2016-04-19 16:12] bajtos commented on #62
We should probably get QA to test the new version before publishing to npmjs.org

[2016-04-19 17:17] tmannian commented on #59
I seem to be experiencing the same error.  O/S Windows 7, Node 4.4.3, npm 3.8.6. Attempt to install into project and am met with a failure telling me something is likely wrong with the loopback-oracle install package.

[npm-debug.txt](https://github.com/strongloop/loopback-connector-oracle/files/226439/npm-debug.txt)

[2016-04-23 13:01] eholzwarth commented on #27
I have this issue with RHEL 7 Node 4.4.2. Tried everything. No error messages beyond the ```WARNING: LoopBack connector "oracle" is not installed as any of the following modules:

 ./connectors/oracle
loopback-connector-oracle

To fix, run:

    npm install loopback-connector-oracle```

[2016-04-23 13:06] eholzwarth commented on #59
Same issue, and yes I followed the instructions for updating LD_LIBRARY_PATH. RHEL 7 Node 4.4.2.

[2016-05-02 15:33] raymondfeng commented on #62
Connect to strongloop/loopback-oracle-builder#3
Connect to strongloop/loopback-oracle-installer#11

[2016-05-05 16:18] nateha1984 opened #65 "connector not detected when running through an IDE"
If I run an app from the command line, everything seems to work fine. But if I use Intellij for example, then the errors about the connector not being installed crop up:

WARNING: LoopBack connector "oracle" is not installed as any of the following modules:

 ./connectors/oracle
loopback-connector-oracle

To fix, run:

[code]

/.../Development/Learning/hello-world/node_modules/loopback/lib/applica

[2016-05-24 19:38] jannyHou commented on #61
@ssh24 @laven26 Please verify the refactored loopback-connector-oracle works fine.

**Verify Steps:**

Probably make sure the installation and connection work first:
[1] create a lb app: `slc loopback`
[2] install loopback-connector-oracle from staging registry(with the latest commit)
[3] create a oracle datasource: `slc loopback:datasource`
[4] should work without additional config
[5] create a m

[2016-06-07 04:26] hamiddivandari commented on #37
Please fix this problem.
I have the same problems as others .
I 've installed loopback-connector-oracle but I still get the "LoopBack connector 'oracle' is not installed" error.
Thanks

[2016-06-07 18:47] ssh24 commented on #61
`Verified with npm version:` **3.9.5**

1. Set registry to staging: `npm config set registry http://ci.strongloop.com:4873/`
2. Install the latest strongloop: `npm install -g strongloop`
3. Create a lb app: `slc loopback --name APP_NAME`
4. Install the loopback-connector for oracle: `npm install loopback-connector-oracle --save`
5. Create a datasource with valid credentials: `slc loopback:datasour

[2016-06-07 20:41] cjbj commented on #61
Make sure to use oracledb 1.9.3 (the current latest)

[2016-06-08 04:48] mrmr68 commented on #37
I'm working on a project using loopback.
i need oracle connector to connect my models. but it seems not installed , i think it's a wrong error because it installed successfully.
please fix this problem .
thanks

[2016-07-25 18:40] 0candy opened #69 "Add eslint to project"

[2016-08-09 01:00] wzsh opened #71 "Meet ORA-03134 error when connect to an oracle 10g server on Ubuntu 14.04"
when i deploy my api service to an ubuntu 14.04 server and try to connect to an oracle 10g server by this connector, it caused the error as following:
`ORA-03134: Connections to this server version are no longer supported.`

The reason is when i run `npm install loopback-connector-oracle`, the loopback-oracle-installer installed the oracle instantsclient 12_1 as default, and oracle documents show

[2016-08-25 01:52] BiteBit opened #73 "connect error"
i get an error.

[code]

datasources.json
[code]
os mac
loopback  2.22.0
loopback-connector-oracle 2.4.1

[2016-08-25 07:42] BiteBit commented on #59
Same issue, and yes I followed the instructions for updating LD_LIBRARY_PATH. RHEL 7 Node 4.4.2.

[2016-08-25 14:59] jannyHou commented on #59
@BiteBit @eholzwarth Did you try the following **TWO** steps?

following to your ".bash_profile":
  source /Users/jannyhou/strong-oracle.rc
If you do not use bash as your default shell, please remember to set
$DYLD_LIBRARY_PATH prior to using node:
  export DYLD_LIBRARY_PATH=":/Users/jannyhou/lb/triage/loopback-test/node_modules/instantclient"

When you install loopback-connector-oracle, those ste

[2016-08-26 00:48] BiteBit commented on #59
@jannyHou Yes,  I already tried that.
Now, i download the source code of strong-oracle and build by manual. I'm success.
I guess  my library path is wrong, i already install instantclient 12 before.

[2016-08-26 07:13] BiteBit commented on #73
It's My fault.
I download the sources code of strong-oracle and build by manual.
I'm success.

[2016-08-26 07:13] #73 closed

[2016-08-26 07:36] BiteBit opened #74 "troubles in discover models"
hi, i'm using **slc arc** to create an oracle datasources.i get some troubles.
1.discover is pending when the number of models is too large, more then 100 tables.
2.can't discover other owner's table.

[2016-08-28 07:05] ashishthcl opened #75 "loopback-oracle-installer@1.4.6 Installation failing"
Hi,

I am getting following error while running

`npm install loopback-connector-oracle --save` in Windows 7 64 bit.

I encountered this error few hours before. Earlier, I was not getting any exception during installation.  I also tried to clear cache at `C:\Users\atiw26\AppData\Roaming\npm-cache` and fired the same installation command. But still getting this error.

I had to reinstall this packa

[2016-09-20 15:03] priyavivek1 commented on #54
Is there any update on same. I am getting same error on RED HAT with node 0.10.39

[2016-09-20 16:20] bajtos opened #79 "Finalize Oracle connector installation experience"
1. What installation experience do we want? Are manual steps acceptable?
   1. Implement the scheme based on the answers to 1)
   2. Release the new updated connector

[2016-09-22 14:49] jannyHou commented on #75
@ashishthcl Thank you for reporting the problem. I believe it's the same issue as https://github.com/strongloop/loopback-connector-oracle/issues/59#issuecomment-212023899

Closing this one as a duplicate and let't follow up the fix in the existing one.

[2016-09-22 14:49] #75 closed

[2016-09-22 15:02] cjbj commented on #59
Is this with node-oracledb?  On Linux you could set FORCE_RPATH=1 in the shell installing node-oracledb.  You would no longer need to set LD_LIBRARY_PATH at runtime.  This may not work if you are moving binaries around e.g. between machines with different install locations.

See https://github.com/oracle/node-oracledb/blob/master/INSTALL.md#linuxadv

[2016-10-10 01:09] emulicus commented on #60
Is there a list somewhere where we can get the the list of generated node/os combinations?
I'm getting the same error, I have Windows 7 64 bit + Node 6.7.0.

[2016-10-11 19:27] #69 closed

[2016-10-12 06:20] superkhau commented on #60
@crandmck Do you think you can compile a list of combinations in the docs somewhere (if we don't have one already)?

[2016-10-13 00:09] crandmck commented on #60
I don't think I'm the right person to compile this list.  I'm happy to add it to the docs once we have the info.

It should probably be based on what we test.  Can someone in QA provide the list of tested OS / Node versions that we test this connector on?
@0candy @cgole

[2016-10-18 15:39] bajtos commented on #79
Timeboxed to 5 story points for Sprint 21

[2016-10-24 11:19] archenroot opened #87 "Multiple foreignkeys possibility in Model Relation?"
This is issue already asked on core loopback tree:
https://github.com/strongloop/loopback/issues/2080
 and on loopback-mysql-connector tree:
https://github.com/strongloop/loopback-connector-mysql/issues/150

I am in the same situation on Oracle database.

So basically achieve following in model definition:
"foreignKey":["id1","id2"]

[2016-10-27 02:21] renanwilliam commented on #60
how we can compile this connector to make available to other versions?

[2016-11-03 18:00] crandmck commented on #60
@0candy Could you please find someone who can provide the info based on Node/OS combos on which we test this connector?  Then reassign to me...thanks!

[2016-11-03 18:41] telkomops opened #89 "Unable to install Loop Back Oracle Module."
Trying to install Loopback oracle module on Windows 8.1 x64 Box.
Facing an error.
Error: Prebuilt tarball not found for your node version and platform: http://7e
918db41dd01dbf98e-ec15952f71452bc0809d79c86f5751b6.r22.cf1.rackcdn.com/loopback
oracle-Windows-x64-abi48-1.8.0.tar.gz

Is there a way to resolve this issue.
node.js version is v6.2.2
npm version is 3.9.5

Trying to install Strong-Oracle d

[2016-11-03 19:12] 0candy commented on #60
@cgole Do you have the info that @crandmck is looking for?

[2016-11-04 17:50] ebickle commented on #62
Would it be possible to remove the dependency that loopback-connector-oracle takes on loopbac-oracle-installer?

The proper installation of the oracledb driver (node-oracle) is a concern of that NPM module and not something inherently required for the Loopback Oracle connector. We're binding against the loopback-oracle-connector master branch (3.0.0) to get full oracledb support,

Even when my mac

[2016-11-04 18:15] ebickle opened #90 "Publish version 3.0.0 to NPM"
The latest changes in /master to support a direct dependency against the official Oracle driver (node-oracledb) aren't published to NPM as an alpha version yet.

Would it be possible to branch loopback-connector-oracle to a 3.x-latest" branch and then publish it as a pre-release alpha version to npm? The last non-documentation and non-globalization checkin was back in May.

We'd like to use the 3.

[2016-11-04 18:24] ebickle commented on #14
@raymondfeng Is this still an issue with v3.0.0 or is this issue obsolete? We abandoned the current 2.x branch because of this bug and are building against v3.0 and haven't seen the issue. Entirely different oracle driver now.

[2016-11-09 13:44] bajtos commented on #62
@rashmihunt @raymondfeng PTAL ☝️

[2016-11-10 21:42] ebickle opened #91 "Type Coercion for String to RAW"
Loopback-connector-oracle 3.0 (master) has partial support for RAW data types; if a loopback property is set with the type "string" and contains hexadecimal, the Oracle database engine will coerce it to RAW.

However, this conversion occurs after the queryplan is established - comparing an indexed RAW column to a hexadecimal string (such as a UUID) will cause a table scan - no indexes are ever use

[2016-11-10 21:44] raymondfeng commented on #91
+1

[2016-11-10 22:00] superkhau commented on #91
@ebickle Would you like to submit a PR?

[2016-11-10 22:07] ebickle opened #92 "Allow customization of CHAR to String coercion"
The loopback-oracle-connector currently hard-codes the strings that boolean values coerce to and from.

* Coming from a column value, Y, y, T, t, 1, and 0 are supported.
* Going to a column value, only Y and N are supported.

In our case, we've standardized on 1/0 for our CHAR(1) 'boolean-like' columns and have other consumers besides loopback using the database. The ability to configure how boole

[2016-11-15 16:46] rashmihunt commented on #79
Oracle connector changes:

-  When pre-packaged tarball is not found during  oracle connector installation,  installer needs to print out a message to install oracle pre-requisites offline and re-install conenctor again.

- Once user has installed oracle pre-requisites offline and re-run to install oracle connector again, the installation should go through successfully and install 'Oracledb' node

[2016-11-15 17:32] raymondfeng commented on #79
More thoughts to further optimize the installation experience.

1. Make Oracle Instant Clients available on CDN and remove corresponding files from the driver bundle. Update the installer to download/install Oracle Instant Client separately before installing the driver.

2. Explore `rpath` for Mac and Linux platforms to remove needs to set env vars

3. For Windows, append Oracle Instant Client dir

[2016-11-16 16:10] jcrosswhite-arrow opened #95 "Handling number presicion"
Hello,

How should I go about handling money and currency from Oracle DBs?  I have a table with the following column defined:
`PRICE NUMBER(15,2)`

And a row with a price of 38.73.  With the following configuration in Strongloop:

[code]

I get the following value when making a get request: `"price":38.730000000000004`

Am I missing something in my configuration that would be able to handle this?

[2016-11-16 16:25] jcrosswhite-arrow commented on #95
One other note on this - if I change my datasource to a MySQL instance with the column defined as `decimal (15,2)`, then the data is returned correctly in the request.

[2016-11-17 22:13] jcrosswhite-arrow commented on #95
Closing this - I did further testing and found that this issue exists in node-oracledb, it's not an issue with this library.

[2016-11-17 22:13] #95 closed

[2016-11-21 18:24] rashmihunt commented on #79
@raymondfend I have opened 2nd set of improvement here https://github.com/strongloop-internal/scrum-loopback/issues/1180
We should merge current PRs as customer will benefit from the improvement we have done so far where they will not be blocked by not installing oracle connector if pre-packaged tarball doesn't exist on remote site.

[2016-11-30 19:41] jannyHou opened #96 "Fix CI failure observed in loopback-datasource-juggler"
as a dependant of loopback-datasource-juggler, oracle fails in juggler pr's CI tests:
[code]
CI link: https://cis-jenkins.swg-devops.com/job/ds/job/loopback-connector-oracle~master/211/console

[2016-11-30 19:56] jannyHou commented on #96
@ritch PTAL. Thanks

[2016-11-30 21:41] jannyHou commented on #96
Close it in favour of https://github.com/strongloop-internal/scrum-loopback/issues/1258

[2016-11-30 21:41] #96 closed

[2016-12-07 07:31] superkhau commented on #47
Closing as resolved.

[2016-12-07 07:31] #47 closed

[2016-12-09 00:29] siddhipai opened #98 "Ci failures for node 4.6/6.x on windows, x64, linux"
see [#97](https://github.com/strongloop/loopback-connector-oracle/pull/97)

[2017-01-10 01:24] superkhau opened #99 "CI is failing due to ORA-00955"
[code]

Causing upstream PRs to fail.

[2017-01-11 01:43] superkhau commented on #37
@hamiddivandari Do your models connect correctly like @mrmr68 (while the app still reports error)?

[2017-01-12 03:28] superkhau opened #100 "CI failing due to libaio.so not being found"
[code]

[2017-01-13 16:30] fubz opened #101 "maxRows configuration is not being respected"
I recently encountered an issue with my unfiltered api calls being limited to 100 records.

I set debug using DEBUG=loopback:connector:*
This showed me that my oracle connector has a property:  "maxRows": 100

in my server/datasources.json, I set the maxRows property to 1000; however, my unfiltered api calls are still  only returning 100 rows.

What am I missing?

[2017-01-13 17:17] raymondfeng commented on #101
I assume you see the problem with loopback-connector-oracle@3.x. There is a bug that we don't set the properties onto the oracle driver.

[2017-01-13 17:23] raymondfeng commented on #101
We do support maxRows. See https://github.com/strongloop/loopback-connector-oracle/blob/master/lib/oracle.js#L44. What do you see `Settings` from https://github.com/strongloop/loopback-connector-oracle/blob/master/lib/oracle.js#L105?

[2017-01-13 18:07] fubz commented on #101
I set the server/datasource.json file to have the following parameters:

[code]
I do not see anything being printed to the console; however when I set the environment variable DEBUG=loopback:connector:*
I see the following dumped to the console

[code]

[2017-01-13 18:13] raymondfeng commented on #101
From the debug printout, your setting of `maxRow` is honored by LoopBack ("maxRows":1000). We pass the settings to oracledb.createPool().

Please note `oracledb` allow driver-level settings which can be overridden by pool level.
See https://github.com/oracle/node-oracledb/blob/master/doc/api.md#oracledbproperties.

[2017-01-13 18:26] fubz commented on #101
Even though loopback says that it will pull a max of 1000 rows, I have a table that has 141 total rows in it, and calling an unfiltered, non-limited, non-scoped model (/api/myTable) results in only 100 records being pulled in.

Is there a way to create a properties file in order to set the driver-level settings?

I feel like I'm missing something obvious.  I even went ahead and created a new very

[2017-01-13 18:28] raymondfeng commented on #101
Can you do a quick test by calling the following code?
[code]
Maybe `maxRows` cannot be set at pool creation level.

[2017-01-13 19:06] fubz commented on #101
Alright, I made a temp project:

[code]
/WebstormProjects/test $ node index.js
{"poolPingInterval":60,"oracleClientVersion":1201000200,"lobPrefetchSize":16384,"fetchAsString":[],"externalAuth":false,"connectionClass":"","version":11202,"outFormat":4001,"maxRows":1000,"extendedMetaData":false,"autoCommit":false,"prefetchRows":100,"stmtCacheSize":30,"poolTimeout":60,"poolIncrement":1,"poolMin":0,"po

[2017-01-13 19:14] raymondfeng commented on #101
Does it help you go beyond 100 rows?

[2017-01-13 19:22] fubz commented on #101
Nope, still stuck at 100 rows

[2017-01-13 19:33] raymondfeng commented on #101
Hmm, then it might be an issue with `oracledb`. Is it possible to come up a very simple test to use `oracledb` directly (execute a SELECT statement directly) that can be used to reproduce the problem?

[2017-01-13 22:50] cjbj commented on #101
For reference,`maxRows` can be set at the global level or at execution.  It can't be set on a pool or connection (this has been [requested](https://github.com/oracle/node-oracledb/issues/361))

[2017-01-14 00:16] raymondfeng commented on #101
@fubz For the short term, I guess we need to keep such options and merge them at `execute` level.

[2017-01-14 00:27] raymondfeng commented on #101
First attempt to fix the issue - https://github.com/strongloop/loopback-connector-oracle/commit/2fffcba9fb4b51b90b78fdba7cad8eb51772c458

[2017-01-16 14:07] fubz commented on #101
I have not been able to write up some test code to try a select statement; however, this morning I had a finding.

One of the VMs that was running my loopback API restarted, it is no longer having the maxRows of 100 issue.  I currently do not have a table that has more than 1000 records to ensure my configured maxRows of 1000 is being followed, but I can investigate that later.

Let's take a step

[2017-01-24 09:09] lokeshjain20 opened #103 "isActual check for updating database is not working for oracle db"
### Bug or feature request
hi,
I tried using isActual() function for checking whether my tables require updates or not but for oracle db it return false everytime , even if there are no changes . It works perfectly for mysql db but in oracle it fails everytime. Please help

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reprod

[2017-02-01 02:52] smartmouse commented on #54
closing this now - as node 0.10.x is old, I am using node  4.x

root@csx00407 test]# npm install -g loopback-connector-oracle --unsafe-perm
/

Installation values -> oracledb location: /opt/ibm/node4/lib/node_modules/loopback-connector-oracle/node_modules Prepackaged tarball url: http://7e9918db41dd01dbf98e-ec15952f71452bc0809d79c86f5751b6.r22.cf1.rackcdn.com  oracleversion: 2.0.0 oracledbmodule:

[2017-02-01 02:52] #54 closed

[2017-02-06 16:04] kjdelisle commented on #60
pinging @cgole, see above.

[2017-02-10 15:22] dmpstaltari commented on #71
Hi, i have the same problem (Windows 10 Pro and Oracle 9i - 9.2.0.5.0), could you solve it?

[2017-02-10 17:03] raymondfeng commented on #71
You probably need to use Oracle instant client 11.x to access 10g. The 3.x version of loopback-connector-oracle uses `oracledb` as the driver. Please see https://github.com/oracle/node-oracledb/blob/master/INSTALL.md.

I assume you can download oracle instant client 11.x and configure OCI_LIB_DIR & OCI_INC_DIR.

[2017-02-16 04:50] samhenri commented on #37
Tried with Windows 10 and Oracle XE and I'm facing the same issue. Is there any workaround?

[2017-02-22 17:48] dmpstaltari commented on #71
Hi Raymond,
I did all the steps of the post and can run the example without problems, but when using Loopback I have a new error "Error: DPI-007: invalid OCI handle or descriptor at Error (native)"

Do you have any idea how to solve this problem?

Thanks in advance!

OS: Windows 10 Pro
Node: 6.9.5
Oracle Instant client: 11.2.0.2.0
Oracle DB: Oracle9i Enterprise Edition Release 9.2.0.5.0
loopback-c

[2017-03-01 14:53] solidstudio opened #118 "osx 10.11.5 connector oracle v3 - Loopback connector "oracle" is not installed"
i've read pretty much everything in the docs, posts and issues and I sill can't get this working, can someone please tell me why it's saying it's not installed?

[2017-03-07 09:19] ExTheSea commented on #37
Just a heads up. I just got it working on a Windows Server 2012 by:
- Installing the latest 64bit NodeJS 6 version
- Installing Visual C++ 2010 Redistributable x64
- Downloading instanclient-basic-windowsx64 and instantclient-sdk-windowsx64 and extracting the contents of both intantclient_12... folders into C:/oracle/instantclient (so that the vc10, vc11 and the help and sdk folders are both insid

[2017-03-13 23:44] xavit commented on #71
I have the same problem on Windows 8, I tried to install Oracle instant client 11.x becouse I need to connect loopback with Oracle 9i and 10g and not sure what Instant client version to use.
Thanks in advance!

[2017-03-14 00:33] cjbj commented on #71
@dmpstaltari  See https://github.com/oracle/node-oracledb/issues/625
Fundamentally 9i is so old, it's not funny.

[2017-03-14 19:53] loay opened #123 "order causing CI failure"
It looks like the CI is failing due to order is not set in the db, causing the following:

[code]

We can maybe use a similar solution like:

[code]

cc @jannyHou  @dhmlau

[2017-03-14 20:05] loay commented on #100
@superkhau I think we can close this now. Error doesn't occur anymore.

[2017-03-15 02:15] loay commented on #99
@superkhau I think we can close this now. Error doesn't occur anymore.

[2017-03-15 02:17] #100 closed

[2017-03-15 02:17] #99 closed

[2017-03-15 02:51] cjbj commented on #71
@dmpstaltari @xavit the workaround to the DPI-007 error when using a connection pool to a 9i database is to disable connection pinging by setting `oracledb.poolPingInterval = -1`  See (https://github.com/oracle/node-oracledb/issues/625)

[2017-03-15 20:38] loay commented on #98
Issue is fixed.
There was one last failure on linux and it is fixed as per this pr: https://github.com/strongloop/loopback-datasource-juggler/pull/1265

Please re-open if you still encounter the issue. Thanks.

[2017-03-15 20:38] #98 closed

[2017-03-15 20:40] loay commented on #123
Issue fixed. Pr merged. Closing.

[2017-03-15 20:40] #123 closed

[2017-03-22 08:27] kartsims commented on #37
Can't get it working either on Linux

- Oracle InstantClient installed (v12.2) including Basic, ODBC, SQLPlus and Devel packages
- `LD_LIBRARY_PATH` exported and valid
- package installed

Still getting :

[code]

[2017-03-22 12:40] kartsims commented on #37
@p-somers @hamiddivandari @samhenri did you guys manage to get it working ?

[2017-03-22 13:29] samhenri commented on #37
I was not able to run it on a windows 7 machine at work but on my personal computer with Windows 10 it worked after I've reinstalled the Visual C++ Redistributable (don't recall the version). I think some of my company softwares are to blame.

[2017-03-22 13:49] kartsims commented on #37
Thanks @samhenri for the feedback.

**I managed to solve the issue on Linux Debian by installing `oracledb` PRIOR TO `loopback-connector-oracle`**

This should definetely be stated somewhere in the docs. Also, the most complete doc I found was on [`loopback-oracle-installer`](https://github.com/strongloop/loopback-oracle-installer/)'s README page.

I lost a few hours looking around for this, I hop

[2017-03-23 07:11] kartsims commented on #37
@crandmck yes it is incorrect, didn't work on my setup.

The installation of `oracledb` probably failed on my setup but I didn't get warnings. Or i I might have got any, it got lost on the way.

Failing to install `oracledb` should prevent the package from installing IMO.

[2017-03-23 16:23] crandmck commented on #37
@raymondfeng @rashmihunt @superkhau Please advise. This sounds like a bug rather than a doc issue but we need confirmation.

[2017-03-23 20:18] superkhau commented on #37
@rashmihunt Would know best I think as she created the instructions awhile back.

[2017-04-18 03:09] dhmlau commented on #24
@tonysoft, sorry to take so long to respond.  Since this issue has been opened for a while, I'd like to close it.  Please reopen if you still encounter this issue.  Thanks.

[2017-04-18 03:09] #24 closed

[2017-04-18 03:13] dhmlau commented on #118
@solidstudio, did you get any error when installing the `loopback-connector-oracle` connector?  Also, have you used `--save`?  Thanks.

[2017-04-18 03:16] dhmlau commented on #90
@ebickle, the current version of `loopback-connector-oracle` is now 3.1.1.  Closing this..

[2017-04-18 03:16] #90 closed

[2017-04-18 03:19] dhmlau commented on #19
@vbourgeois, do you still have this problem?  Can I close it?  Thanks.

[2017-04-19 13:42] #19 closed

[2017-04-19 20:10] dhmlau commented on #118
@solidstudio , does it solve your problem?  Is it good to close?

[2017-04-24 09:38] sonia1588 opened #125 "Query metadata support"
Is any interface available with oracle connector to return column metadata if SQL query is given as input?

[2017-04-24 15:53] raymondfeng commented on #125
Do you want to do so for generated SQL statements for CRUD operations on a model or native SQL on your own? You can access `dataSource.connector.executeSQL()`.

[2017-04-25 04:30] sonia1588 commented on #125
I need for Native SQL on my own.
There are interface available in LoopBack to execute native SQL using existing model. https://loopback.io/doc/en/lb3/Executing-native-SQL.html

Is it possible to generate model out of native SQL?

[2017-04-28 02:21] dhmlau commented on #118
@solidstudio, closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.  Thanks.

[2017-04-28 02:21] #118 closed

[2017-05-11 18:07] angularj opened #129 "Cannot insert data when model is created dynamically."
# Description/Steps to reproduce
`ds.discoverSchema(dynamicTableName, function (err, schema) {
ds.createModel(schema.name, schema.properties, schema.options);
appModel = ds.getModel(schema.name);
app.model(appModel, { dataSource: app.dataSources.source, public: true });
});

//Calling -> appModel.create(items, function (err, details) {});

//Error -> loopback-connector-oracle\lib\Oracle.js

Oracle

[2017-05-21 06:26] harshu108 opened #131 "Connecting to database using TLS"
# Description/Steps to reproduce
Can I connect to Oracle databse secured using TLS?

# Expected result

# Additional information
If I have a cloud hosted public database secured with TLS, can I still use this connector?
I don't see any provision to add TLS certificates to the datasource.

[2017-05-24 06:24] raymondfeng commented on #131
The SSL/TLS connection to oracle DB is configured at the instant client level. See https://github.com/oracle/node-oracledb/issues/517 and https://github.com/oracle/node-oracledb/issues/411 for more information.

[2017-05-24 10:03] cjbj commented on #131
There's a bit of doc about securing network traffic in https://github.com/oracle/node-oracledb/blob/master/doc/api.md#securenetwork This covers Oracle's native network encryption. There is a cross reference to the generic Oracle doc for SSL, since SSL setup is more involved.

[2017-06-06 05:32] yellowred commented on #20
if `idInjection` is true loopback will generate an id for your model.
https://loopback.io/doc/en/lb2/Model-definition-JSON-file.html

[2017-06-20 04:26] rudijs opened #134 "Connection Released, not Reconnecting"
Hi,

I'm having a problem with loopback:connector:oracle not reconnecting.

After a while the connection is 'released' then I have to restart the express app to reconnect.

I might have overlooked, but haven't found any 'reconnect' options.

I'm not sure what I can do to remain 'connected'.

Any tips, advice or direction would be greatly appreciated.

Thanks.

[code]

[code]

Here's my datasource.

[2017-06-20 22:18] raymondfeng commented on #134
@rudijs Can you try to set up `poolTimeout: 0`? See https://github.com/oracle/node-oracledb/blob/master/doc/api.md#propdbpooltimeout.

[2017-06-20 23:34] cjbj opened #135 "It's time to test with node-oracledb 2.0.13-dev"
The first development release of node-oracledb v2 is available, see https://blogs.oracle.com/opal/node-oracledb-2013-development-is-now-on-github

I'm tracking known issues at: https://github.com/oracle/node-oracledb/issues/716

Can you start testing, so we can fix any issues before it goes 'Production'?

[2017-06-26 08:39] rudijs commented on #134
@raymondfeng Thanks. We've just deployed this and will let it run for a few days.

I'll post back my results.

[2017-06-27 04:21] cjbj commented on #134
How is the connection 'released'?

[2017-06-27 06:25] raymondfeng commented on #134
@cjbj See https://github.com/strongloop/loopback-connector-oracle/blob/master/lib/oracle.js#L254.

[2017-07-05 02:37] dhmlau commented on #14
@piscisaureus , according to @ebickle, it looks like this problem has been fixed in v3.0.  Is it good to close?  Thanks.

[2017-07-27 02:54] dhmlau commented on #89
@telkomops , sorry to take so long to respond.  If possible, I'd recommend to try again with the latest version of the oracle connector, i.e. `3.x`.  The installation and configuration of `node-oracledb` is simpler in 3.x.  For details, please refer to the [Installation section of `README.md`](https://github.com/strongloop/loopback-connector-oracle#installation).

[2017-07-27 02:57] dhmlau commented on #61
@bajtos, seems like the work is done.  Is it good to close?  Thanks.

[2017-07-27 03:01] dhmlau commented on #14
Due to inactivity, closing this issue.  @piscisaureus, feel free to reopen if the issue still exists.  Thanks.

[2017-07-27 03:01] #14 closed

[2017-07-27 08:48] bajtos commented on #61
Sure, let's close. We should open new issue(s) if there is anything missing.

[2017-07-27 08:48] #61 closed

[2017-08-03 15:13] solidstudio opened #141 "duplicate records using PersistedModel.upsertWithWhere"
I'm adding multiple records to an oracle db using PersistedModel.upsertWithWhere but it doesn't seem to do as expected when using the oracle connector as i'm seeing duplicate records.

[2017-08-17 17:05] dhmlau commented on #89
Closing this issue.  Please see the response above.  Feel free to reopen this issue if it's not resolved.

[2017-08-17 17:05] #89 closed

[2017-08-22 07:48] telkomops opened #144 "LoopBack Discover-Schema Created Incorrect Type"
node bin\discover-schema.js to oracle generates the property type incorrectly.
Oracle 11g R2 , Table has schema with CLOB.
As per lb3 documentation CLOB should be mapped to buffer object.
discover-schema.js maps the CLOB to binary which is not recognized by Swagger.

[2017-08-22 18:11] jannyHou commented on #59
I am closing this issue due to out of date, and I believe the installation problem is already fixed. I am able to run test several times on local. Thanks for understanding.

[2017-08-22 18:11] #59 closed

[2017-08-24 14:49] jannyHou commented on #144
@telkomops Could you follow the template in https://github.com/strongloop/loopback-connector-oracle/issues/new and provide us a sandbox to reproduce the problem? Thanks.

[2017-09-05 18:45] #79 closed

[2017-09-05 18:45] #37 closed

[2017-09-05 18:45] #53 closed

[2017-09-05 18:45] #103 closed

[2017-09-05 18:45] #29 closed

[2017-09-05 18:45] #101 closed

[2017-09-05 18:45] #92 closed

[2017-09-05 18:45] #91 closed

[2017-09-05 18:45] #74 closed

[2017-09-05 18:45] #62 closed

[2017-09-05 18:45] #58 closed

[2017-09-05 18:45] #71 closed

[2017-09-05 18:45] #65 closed

[2017-09-05 18:45] #52 closed

[2017-09-05 18:45] #55 closed

[2017-09-05 18:45] #50 closed

[2017-09-05 18:45] #25 closed

[2017-09-05 18:45] #125 closed

[2017-09-05 18:45] #129 closed

[2017-09-05 18:45] #131 closed

[2017-09-05 18:45] #135 closed

[2017-09-09 07:48] #134 closed

[2017-09-17 15:35] #60 closed

[2017-10-16 15:49] #141 closed

[2017-11-06 16:03] #144 closed

[2017-11-16 05:58] braj1999 opened #147 "Not able to distinguish tables in List object response if name is same but with different case in Oracle"
If the Oracle instance has two tables named as `a_z` & `A_Z`, then both tables are listed in `list object` calls as `AZ`.  This happens because connector removes the `_` if it is in table name and converts the name in camel case.

To reproduce:
1. Create two tables with same name but with different case e.g "A_Z" and "a_z" in Oracle Database.
2. Run the `discoverModelDefinitions` method to get the

[2017-11-20 11:02] braj1999 opened #148 "Primary key value is not updateable"
# Description
Oracle database allows to update primary key value of a record. But for loopback-connector-oracle it is observed that it dose not allow to update primary key value. It excludes the primary key while performing update operation.

# Additional information
linux x64 6.10.0

loopback-connector-oracledatabase@1.0.0 /root/Oracle_POC/CS/Test/loopback-connector-provider/node_modules/loopback

[2018-01-29 06:50] #147 closed

[2018-02-02 11:24] #148 closed

[2018-02-14 16:02] fubz opened #152 "Support for Node v8?"
Will this project ever support Node v8, or is there an alternative?

[2018-02-15 19:28] joostdebruijn commented on #152
I use it on Node 8 and 9 without any problems. Which problems do you encounter?

[2018-02-15 20:07] fubz commented on #152
During the setup process, there is a step that downloads pre-compiled binaries that vary depending on the node version.  When I install using node8, there binaries are not there and the install fails.

[2018-02-15 20:17] joostdebruijn commented on #152
Ah, I worked around that by explicitly installing node-oracledb as dependency in my own project (remember that you'll have to install the 1.x version of node-oracledb). The loopback-oracle-installer will detect that install and goes ahead.

However, I hope #149 will get merged soon, as that will resolve this issue.

[2018-03-29 17:35] fubz commented on #152
I finally got a chance to try out your suggestion.  I was able to get my loopback-connector-oracle install with node v8, (currently in my development environment which is Windows 7 unfortuantly).

A couple of notes, these are incomplete, but many of the issues I encountered are well documented around the oracledb github.

First, remove node_modules from the project.  It really makes the install ea

[2018-03-30 15:15] fubz commented on #152
Restarted my computer today and received: `
[project_path]\node_modules\oracledb\build\Release\oracledb.node is not a valid Win32 application.
`
*sigh* time to figure out where the heck a 32 bit library came from

[2018-03-30 22:43] cjbj commented on #152
@fubz check the common thing first: does PATH contain the correct version of the Oracle libraries?

[2018-04-02 22:27] cjbj commented on #125
FWIW, node-oracledb 2.2 introduced a [getStatementInfo()](https://oracle.github.io/node-oracledb/doc/api.html#getstmtinfo) method.

[2018-04-16 15:09] fubz commented on #152
My PATH was a problem.  This issue prompted me to reformat my development PC, it was needed and it allowed me to better setup my environment.  I really hope we see PR 149 sometime soon.  Having to deal with oracledb v1.x is a configuration nightmare.
Thanks everyone for your efforts, your efforts do not go unnoticed.

[2018-04-16 15:09] #152 closed

[2018-05-11 15:07] DELINGE commented on #134
Please @rudijs  can you please hide this page and the refernce to AXA ?
And also the password
MAny thanks

[2018-05-12 09:12] rudijs commented on #134
@DELINGE Done.

[2018-05-16 05:33] vanceeasleaf opened #153 "owner is ignored in discoverSchema"
in oracle.js
[code]

in its super class

[code]
args.schema is undefined

so buildQueryColumns gets its  first arg undefined

[2018-06-01 20:17] metallica666 opened #154 "ORA-00942: table or view does not exist errorNum: 942, offset: 92"
I have seen this question in several post of internet an i try everithing to solve the problem. I verify if the table exist with plsql developer, check if I have SELECT permission for v_session. The table exist and belong's to the user. Inclusive i insert in to a table with a script for the initial data, but loopback functions always return that error. I reinstall the oracle, I don't know what els

[2018-06-01 22:00] dhmlau commented on #154
@metallica666 , if you have tried to access the database using the same credentials set in the datasources.json, would it be because different schema names being used when connecting manually vs connecting using LoopBack?

[2018-06-04 18:44] metallica666 commented on #154
Thanks for response @dhmlau , I solve the problem. The table ACL it wasn't create, so . I create the table with the script and all work perfectly

[2018-06-04 18:44] #154 closed

[2018-06-20 19:57] pedropapa opened #155 "Custom relation field name"
I wonder if is it possible to use a custom field name for a loopback relation using the oracle connector.

Currently, when you declare a new relation and persist the model to the database, it would create a field with a name consisting in the name of the relation plus "ID", so the following relation:

[code]

Would generate a field named "AREAID" on the table.

I need to change this field name, so

[2018-06-20 20:17] #155 closed

[2018-06-22 20:25] bssiva opened #156 "NJS-054: Binary build/Release/oracledb.node was not installed"
Hi All,

I understand that this particular issue is spoken wide, however, I'm facing this issue still.  Below is the my system configuration with installed softwares:
 OS : Windows 7 Enterprise 64 bit.
NPM: 5.6.0
Node: 8.11.3
Python:2.7.2
Oracle Client: instantclient_12_2
MS Visual Studio : 2017.

I have set my proxy as I'm behind the firewall. Every time I tried to install the oracle connector I

[2018-06-22 21:02] raymondfeng commented on #156
Can you try to run `npm i oracledb@2.3.0` to see if it works?

It seems that you have trouble connecting to `192.30.255.112:443`. Is it your https proxy?

[2018-06-23 06:11] cjbj commented on #156
Remember you currently need to set the proxy via environment variables, not via `npm config`.  This may [change](https://github.com/oracle/node-oracledb/pull/919).

[2018-06-24 17:12] bssiva commented on #156
Thanks much for the suggestion. I was able to install after coming out of my proxy servers. Thanks

[2018-06-24 17:12] #156 closed

[2018-07-06 00:45] bssiva opened #158 "ds.discoverSchema vs ds.discoverSchemas"
Hi All,

I was going thru the app.js exmaple  file and I have this doubt. Is the ds.discoverSchema and ds.discoverSchemas are one and the same ?

I was trying to run the script using ds.discoverSchemas as well as ds.discoverSchema APIs

The ds.discoverSchemas gives me an output "undefined" whereas ds.discoverSchema doesn't seems to be executed.

    /* ds.discoverSchemas('table_name', {schema: 'AB

[2018-08-14 20:44] metallica666 opened #162 "How can make a request insensitive"
# How can make a request insensitve

I try doing a regex but still recieve the same results.
an example:
let pattern = new RegExp(name, "gi");
User.find({where: {
          or: [
            {name: {like: pattern}}
          ],
        }}).then(users =>{
    console.log(users)
})
that code always return an empty array

I try too with
let pattern = new RegExp('*/'+name+ '*/', "gi");
still the same

[2018-08-14 20:48] raymondfeng commented on #162
Can you try to use `regexp` as the operator instead of `like`?

[2018-08-14 20:49] metallica666 commented on #162
Thanks for the quick response @raymondfeng , I try to... but still gat nothing

[2018-08-14 20:51] raymondfeng commented on #162
See https://github.com/strongloop/loopback-connector-oracle/blob/master/test/oracle.regexp.test.js#L28

[2018-08-14 20:57] metallica666 commented on #162
Thanks... @raymondfeng now it's working... I was test with regexp but with symbol $ before...

[2018-09-06 04:53] jeyaraj87 opened #163 "Loopback oracle connector issues"
any connection from our loopback application to oracle db becomes stale after 1 hour if the application is in idle state. I have to manually restart the application to get the connection back. Can you provide some insights on this issue.

[2018-09-06 04:59] cjbj commented on #163
Commonly firewalls and DB resource profiles are implicated in connections being closed prematurely.

General advice would be  to close the connection when it is not being used, so that resources are freed up for other users.   Specific advice depends on business and architectural practices, which only you know.

[2018-09-06 23:13] jeyaraj87 commented on #163
@cjbj  : Thanks.  do you have any sample query written using loopback oracle connector which has connection open and close. We though connector is taking care of the connection. I am pasting my sample query which we are using in our application. we don't open and close connection before query call.

This query has been written in model Js file.
modelName.find(searchParams, function (err, result) {

[2018-09-06 23:18] jeyaraj87 commented on #134
any update on this post. we are also facing similar issue in our application. loopback oracle connector not able to acquire the connection from pool if the application is idle for 60 minutes. we have to restart the application to acquire back the connection.

[2018-09-06 23:49] cjbj commented on #163
@jeyaraj87 my domain of expertise ends at the [node-oracledb](https://github.com/oracle/node-oracledb) API.

[2018-09-07 20:17] raymondfeng commented on #163
@cjbj Does the node-oracledb connection pool handle stale connections?

[2018-09-07 23:03] cjbj commented on #163
@raymondfeng node-oracledb's connection pool does its best with stale connections.  There are some tweaks coming soon in node-oracledb 3: https://github.com/oracle/node-oracledb/issues/960#issuecomment-412793112

Re-creating connections has a cost, so it would be better to fix the root cause of the network termination. Of course, connections can die at anytime so apps still need to have appropriat

[2018-09-11 06:41] jeyaraj87 commented on #163
@raymondfeng : poolPingInterval is not supported by loopback-connector-oracle": "4.1.0".

poolTimeout is not solving our case either. I have tried few combination of values such as 0, 60,180

[2018-09-19 14:15] dhmlau opened #166 "Fix CI"
In the latest PR (https://github.com/strongloop/loopback-connector-oracle/pull/165), the following 2 are failing:
- loopback-connector-oracle/node=6.x,os=windows
- [cis-jenkins] x64 && linux && nvm,10

[2018-10-19 09:10] ashokkumarsand opened #168 "Loopback 4 oracle connector is not working"
# Description/Steps to reproduce
113071-MBP15:reporting asand$ lb4 --version
@loopback/cli version: 1.0.1

@loopback/* dependencies:

@loopback/authentication: ^1.0.1
@loopback/boot: ^1.0.1
@loopback/build: ^1.0.0
@loopback/context: ^1.0.0
@loopback/core: ^1.0.0
@loopback/metadata: ^1.0.0
@loopback/openapi-spec-builder: ^1.0.0
@loopback/openapi-v3-types: ^1.0.0
@loopback/openapi-v3: ^1.0.1
@loopba

[2018-10-19 20:09] dhmlau commented on #168
@ashokkumarsand , looking at the last part of the output:
[code]
Looks like you haven't selected a model yet?  Please make sure that the "dot" in front of the model is selected before you hit enter.

If that's the cause, we'll probably see if we could pre-select the first one for this prompt so that cli won't try to generate repository without a model.

[2018-10-19 22:11] dhmlau commented on #168
To illustrate that, make sure the dot in front of the model is checked.

_won't work_
<img width="587" alt="screen shot 2018-10-19 at 6 09 38 pm" src="https://user-images.githubusercontent.com/25489897/47246132-beffa380-d3eb-11e8-9ef3-f9cc0f41c691.png">

_will work_
<img width="507" alt="screen shot 2018-10-19 at 6 09 48 pm" src="https://user-images.githubusercontent.com/25489897/47246130-be670d00

[2018-10-20 06:13] ashokkumarsand commented on #168
I selected model but it doesn't display in command line and it gives error

[2018-10-20 18:41] dhmlau commented on #168
@ashokkumarsand, wanna make sure if I understand where the problem is.
Do you see your model name in the prompt `Select the model(s) you want to generate a repository`, just like the `Todo` model in my screenshot?

[2018-10-22 05:19] ashokkumarsand commented on #168
Thank you, It's working now.

[2018-10-22 05:20] ashokkumarsand commented on #168
Thank you, It's working now.

[2018-11-26 18:28] dkrantsberg opened #169 "INSERT / RETURNING fails due to upper-cased id column name."
# Description/Steps to reproduce
I have a table Users which has "id" column (lower case).

[code]

When creating a record loopback-oracle generates SQL with capitalized "ID" column name:

`INSERT INTO "SYSTEM"."Users"("username") VALUES(:1) RETURNING "ID"`

which fails with error:

`Error: ORA-00904: "ID": invalid identifier`

The upper casing is happening on these lines:

https://github.com/stron

[2018-12-07 11:09] joostdebruijn opened #170 "New release with 3.x driver?"
Recently in PR #167 the Oracle driver is upgraded to 3.x. That will also enable support for Node 11.x. The current version doesn't support Node 11.x. Can someone trigger a new release of the module?

[2018-12-07 21:01] cjbj commented on #170
The 'current' version works fine with Node.js 11. There were just no pre-built binaries for Node.js 11 prior to node-oracledb 3.0.1

[2018-12-07 21:07] joostdebruijn commented on #170
Version 4.1.1 (the latest release) of this module installs node-oracledb 2.3.0. It doesn't fallback to a build after the download of prebuild binaries fails. The PR with node-oracledb > 3.x is already accepted, so a new release will solve that.

[2018-12-07 21:14] dhmlau commented on #170
Thanks for the reminder @joostdebruijn. `loopback-connector-oracle@4.1.2` is released.
I'd like to close this issue as resolved.  Thanks.

[2018-12-07 21:14] #170 closed

[2018-12-11 10:38] marktreble opened #172 "Insert into BLOB field fails"
# Description/Steps to reproduce
Attempt to insert binary data into a BLOB column fails with 'Invalid Hex Value'
{
"USER_DEVICE_ID":20,
"SESSION_ID":"jQKCwhrnQgCGPqFn-LYwMiWWGTDBvnQi",
"SESSION_DATA":{"type":"Buffer","data":[97,98,99]},
"CREATED_DATE":"Mon Dec 10 2018 08:26:57",
"EXPIRY_DATE":"Mon Dec 10 2018 08:56:57"
}

# Result
Fails with unexpected HEX Value

# Additional information
I have fi

[2018-12-13 03:42] dhmlau commented on #172
@marktreble , since you have fixed this issue locally, are you interested in submitting a PR?  And please add tests too. :)  Thanks!

[2019-01-06 16:05] tinker20 commented on #163
@raymondfeng I am facing the same issue. Here is my dataSources.json

[code]
@jeyaraj87 Were you able to fix this issue?

[2019-01-06 22:18] cjbj commented on #163
@tinker20 what is the exact issue?  Are you seeing an error?  What is the underlying node-oracledb version are you using?  What Oracle Client version is it linking with (run [version.js](https://github.com/oracle/node-oracledb/blob/master/examples/version.js))?

Also, you should review your maxConn size, since each connection in use will require a thread, and Node.js limits the number of threads t

[2019-01-07 06:04] tinker20 commented on #163
@cjbj The underlying `node-oracledb` version that the connector is using is `"oracledb": "2.2.0"`. What is the ideal datasource configuration that I need to use?

I am using this
[code]

[2019-01-07 08:12] tinker20 commented on #163
@cjbj The oracle client library version that I'm using is 12.2.0. I hope you are seeking for the Oracle instant client version, right?

[2019-01-08 02:50] tinker20 commented on #163
@cjbj @raymondfeng Any update on the above issue?

[2019-02-12 15:05] edgeineer commented on #168
Yes.. use spacebar to select and press enter to continue

[2019-03-26 16:39] bmaupin opened #174 "Feature request: Add support for connection URL"
Most of the other database connectors support a `url` parameter, so we can use a connection URL instead of having to specify each property separately. For example:

https://loopback.io/doc/en/lb3/PostgreSQL-connector.html#properties

https://loopback.io/doc/en/lb3/MySQL-connector.html#properties

https://loopback.io/doc/en/lb3/SQL-Server-connector.html#connector-settings

https://loopback.io/doc/e

[2019-03-26 17:19] raymondfeng commented on #174
@bmaupin I believe that we support `url` already. See https://github.com/strongloop/loopback-connector-oracle/blob/master/lib/oracle.js#L58

[2019-03-27 13:45] bmaupin commented on #174
@raymondfeng From the link you sent, it looks like `url` is just an alias for `tns` or `connectString`.

So if you look here:

https://github.com/strongloop/loopback-connector-oracle/blob/master/lib/oracle.js#L81:L82

You can see this format is what's currently supported:

`//host:port/db`

But that still requires username/password to be specified separately. What I'm asking for is something simil

[2019-04-02 08:37] devatiwa opened #175 "Oracle DB security support"
- Does oracle loopback connector provides support for Oracle 12c security features
   - Data security over the network

[2019-04-05 02:08] ahmadarif opened #176 "Connector version for Loopback 2"
Hi, I've project with loopback 2 and use the latest version (**4.1.2**) and have issue with `LoopBackContext.getCurrentContext()` wich is always null. Which version should I use?

Thanks :)

[2019-04-12 22:01] raymondfeng commented on #175
@devatiwa We use https://github.com/oracle/node-oracledb as the driver. It seems to support Oracle 12c. See https://oracle.github.io/node-oracledb/doc/api.html.

@cjbj, can you confirm?

[2019-04-23 02:40] cjbj commented on #175
See https://oracle.github.io/node-oracledb/doc/api.html#securenetwork  I don't recall this requiring 12c but maybe in some earlier version there was a differently licensed option.

[2019-04-28 21:47] Mahm7oud commented on #154
@metalgabe I facing same issue can you please let me know how can I solve it.

Thanks

[2019-04-28 21:54] Mahm7oud opened #177 "Loopback 3 error "errornum": 942, "offset": 92,"
Hi ;
I need help please , i am getting below error when i am trying to test API . i am using loopback3 and oracle database .
Error
"errornum": 942, "offset": 92,
Ora table or view doesn't exist.

[2019-05-02 21:24] gabe2code commented on #154
@Mahm7oud Did you try to see if all the tables are properly created?

[2019-05-02 22:13] Mahm7oud commented on #154
@gabe2code thank you for your interest, the table was created already .

[2019-05-03 14:52] gabe2code commented on #154
@Mahm7oud can you please share some demo?, for me that was the key for solve the issue

[2019-05-07 02:25] dhmlau commented on #177
@Mahm7oud, the first thing to check would be to see if the table/view does exist.
If that exists, you can check the `model-config.json`, whether the APIs you're testing go to the datasource that you're thinking.

[2019-05-08 16:04] dhmlau commented on #175
Closing this issue as answered.

[2019-05-08 16:04] #175 closed

[2019-05-20 06:09] anoop-ananthan commented on #55
Is strongloop still alive?

[2019-05-20 08:40] bajtos opened #178 "Run shared tests from both v3 and v4 of juggler"
At the moment, our connectors are installing juggler 3.x to run the test suite. When we make a change to juggler@3, cis-jenkins detects downstream dependency and triggers CI build of connectors with the modified juggler version. When we make a change to juggler's master, no downstream builds are triggered.

In the past, we were maintaining multiple branches to test connectors against different jug

[2019-06-19 22:10] dhmlau commented on #177
@Mahm7oud, we believe we've answered your question, so I'm closing this issue now.  If you're still running into connection issues, please open a new ticket. Thanks.

[2019-06-19 22:10] #177 closed

[2019-07-09 18:37] dhmlau commented on #166
Closing due to inactivity. I believe the CI issue in this repo has been resolved.

[2019-07-09 18:37] #166 closed

[2019-07-16 18:34] nabdelgadir opened #183 "Fix CI Failures"
# Description/Steps to reproduce
Currently there are five CI failures:

[code]

The `ORA-00972: identifier is too long` error happens when an identifier is over 30 characters.

The failures are from the `before` hooks of the [datatype.test.js](https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/datatype.test.js) and [basic-querying.test.js](https://github.com/strongloop/loop

[2019-07-16 21:36] cjbj commented on #183
As of Oracle DB 12.2 identifiers can be 128 characters. Do you need to test older DBs?  Oracle 18 & 19 are also available - and there is a [free Oracle XE 18](https://www.oracle.com/technetwork/database/database-technologies/express-edition/downloads/index.html) available.

[2019-07-17 16:10] #178 closed

[2019-07-23 18:09] agnes512 commented on #183
Maybe check db versions and update Docker images.
and check sql statement in [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/datatype.test.js#L20) and use debug string.

[2019-07-25 01:58] #153 closed

[2019-07-25 01:58] #158 closed

[2019-07-25 01:58] #169 closed

[2019-07-25 01:58] #172 closed

[2019-07-25 01:58] #163 closed

[2019-07-25 01:58] #174 closed

[2019-07-25 01:58] #176 closed

[2019-07-25 10:35] cjbj opened #184 "node-oracledb 4.0 is avaialble"
I released node-oracledb 4.0 a few hours ago.  The release announcement is at https://blogs.oracle.com/opal/oracle-db-named-objects-and-advanced-queuing-support-new-in-node-oracledb-40

It requires Node.js 8.16+, 10.16+ or 12.  We refactored to use [N-API](https://nodejs.org/api/n-api.html) but this has a nasty performance issue only fixed in the 8.16 & 10.16 (and 12) releases.  Using N-API does m

[2019-07-26 19:57] dhmlau commented on #184
Related to PR https://github.com/strongloop/loopback-connector-oracle/pull/186

[2019-07-29 14:17] dhmlau commented on #184
Closing as resolved via PR https://github.com/strongloop/loopback-connector-oracle/pull/186. Thanks @cjbj for pointing this out.

[2019-07-29 14:17] #184 closed

[2019-09-18 14:14] hacksparrow opened #190 "Make local tests pass"
Currently running `source setup.sh` and then `npm test` will result in the command left hanging.

It is caused by `sath89/oracle-xe-11g` being gone from Docker Hub. A good replacement is `webdizz/oracle-xe-11g-sa`.

Some things I noted while working on https://github.com/strongloop/loopback-connector-oracle/issues/183:

1. Replace `sath89/oracle-xe-11g` with `webdizz/oracle-xe-11g-sa` or something

[2019-09-18 14:16] hacksparrow commented on #183
CI made to pass via PR: https://github.com/strongloop/loopback-connector-oracle/pull/189.
Follow up issue: https://github.com/strongloop/loopback-connector-oracle/issues/190.

[2019-09-18 14:16] #183 closed

[2019-09-19 09:11] joostdebruijn opened #191 "New release with 4.0 driver?"
Are there any plans to create a new release soon with the oracledb 4.0 driver? The change is already merged for some months on the master branch. This will enable us to use Node 12.x.

[2019-09-19 13:39] dhmlau commented on #191
@joostdebruijn, coincidently I was thinking to publish releases for this module and other connectors today!  Will let you know when it's done.

[2019-09-19 14:06] dhmlau commented on #191
Released `loopback-connector-oracle@4.4.0`.  Thanks for your reminder @joostdebruijn!

[2019-09-19 14:06] #191 closed

[2019-10-22 11:54] kaushaldeck commented on #20
I am working with a mongo db collection called users with the following fields : _id (default mongo created pk field), email, username, status.
I have created a model where I have marked email field as the id field. But after going through the full cycle when i run the get query for /users/{id} loopback queries only the _id field but doesnt query the email field (which I have marked as the id fiel

[2019-11-02 00:09] ataft opened #194 "oracledb dependency"
The oracledb dependency was recently set to `"oracledb": "^4.0.0"` which has fairly strict NodeJS version requirements (10.16+). However, it doesn't appear that anything in the loopback-connector-oracle module requires this. Would it make sense for the package.json entry to be `"oracledb": ">=3.1.2"`?

[2019-11-02 01:38] dhmlau commented on #194
@ataft, which version of Node.js are you on? Please note that Node.js 8 will be EOL in Dec this  year, so it's recommended that you run your application on Node.js 10+.

@raymondfeng, do you see issues if we use `"oracledb": ">=3.1.2"`? Thanks.

[2019-11-02 15:05] ataft commented on #194
Node 10.15.3. I can't simply upgrade to 10.16 because I'm using a popular binary compiler called zeit/pkg and don't have control over the Node versions. I tried v12.2, but ran into some problems.

[2019-11-04 01:23] cjbj commented on #194
For the record, the dependency is 8.16+, 10.16+ or 12+.  This is due to important Node.js N-API memory leak fixes in those releases.

If all else fails for you, maybe you could hack https://github.com/oracle/node-oracledb/blob/v4.0.1/lib/oracledb.js#L26-L35 to allow it to work with your version - and monitor memory.  I haven't tried this.

[2019-11-04 02:55] raymondfeng commented on #194
@cjbj Thank you for clarifying the version requirement.

@ataft Can you stick with loopback-connector-oracle@4.3.0?

[2019-11-15 00:45] ataft commented on #194
@raymondfeng No, I need 4.5.0 for my recent CLOB/BLOB [commit](https://github.com/strongloop/loopback-connector-oracle/commit/0202b9a893d8a2844039909deab50f1f46c170d5). For now, I'm using the https://github.com/ataft/loopback-connector-oracle fork, which fixes the oracledb version issue, as well as the https://github.com/strongloop/loopback-connector-oracle/pull/195 PR that fixes table discovery c

[2019-12-01 14:38] #190 closed

[2019-12-20 00:18] ataft commented on #194
I was able to upgrade to Node v12.13.1

[2019-12-20 00:18] #194 closed

[2020-04-27 20:35] abhayverma commented on #162
The filter is not working, it just returns everything as if no filter is applied.

[2020-07-30 15:25] pchiguruvada commented on #46
Any solution to implement this in loopback-connector-oracle please

[2020-07-30 15:27] pchiguruvada commented on #46
Hi jgauna,
Were you able to find a solution for this. If so could you please help me.

[2020-07-30 15:39] raymondfeng commented on #46
The 2nd arg for execute can be an array of parameters for the stored procedure.

[2021-03-09 07:44] sk185050 opened #208 "NodeJS-Oracle DB - NJS-040 Connection Timeout using oracle driver with Lopback with in the ICP (loopback-connector-oracle)"
I am seeking some information using loopback-connector-oracle version 4.1.1 on the issue I am facing on. The analysis as this: We have the DB connection configuration to connect to oracle DB data source using oracle connector in json file format using attributes. "maxConn": 20, "host": DB_HOST, "port": DB_PORT, "database": DB_NAME, "password": DB_PASSWORD, "user": DB_USER, "connector": "oracle",

[2021-03-11 22:18] ge-gao commented on #144
with `lb4 discover` I got the same issue. After the model of an Oracle table gets generated, the CLOB type column is set to type `Binary`.

[code]
This is shown as validation error:

[code]

[2021-03-12 15:29] bajtos commented on #144
Support for `Binary` type in LB4 is discussed in https://github.com/strongloop/loopback-next/issues/6295 and https://github.com/strongloop/loopback-next/pull/6476

[2021-05-29 22:48] migutak opened #209 "Support for node-oracledb 5.1"
## Suggestion

When will support for node-oracledb 5.1 be possible?

[2021-06-02 14:16] raymondfeng commented on #209
Would you please submit a PR?

[2021-06-02 21:52] cjbj commented on #209
Wait for 5.2 - code has already frozen.

[2021-07-28 05:36] #208 closed

[2021-08-17 19:27] #209 closed